# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Ignoring the temporary faculty data
faculty_profiles.json

# Ignoring a small analytics that i did with the data
analytics.json
